#AUTH0 

APP_BASE_URL=http://localhost:3000
AUTH0_DOMAIN=dev-a1m8nsnx5rqbsn3f.us.auth0.com
AUTH0_CLIENT_ID=*******MASKED*******
AUTH0_CLIENT_SECRET=*******MASKED*******
AUTH0_SECRET=*******MASKED*******

#MONGO_DB

MONGODB_URI=mongodb+srv://kocakomer0707_db_user:*******
MONGODB_DB=******
